@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Roboto&display=swap");
:root {
  --blk-color: #272829;
  --primary-font: "Agbalumo", sans-serif;
  --secondary-font: "Bebas Neue", sans-serif;
  --default-font: "Roboto", sans-serif;
  --primary-clr: #f05941;
  --secondary-clr: #7d7c7c;
  --box-shadow-1: rgba(0, 0, 0, 0.4);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p,
a {
  font-family: var(--default-font);
}
main {
  z-index: 1;
}
section {
  padding-inline: 12%;
  margin-top: 3%;
}
