---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
const pageTitle = "Home"
---
<style>

</style>
<Layout pageTitle={pageTitle}>
    <main>
        <div class="hero-image">
            <div class="hero-text">
                <h1>SIMPLE RECIPES MADE FOR <span>real, actual, everyday life.</span></h1>
                <p>And I'm a Photographer</p>
                <button>Hire me</button>
            </div>
        </div>
    </main>
</Layout>